page-home {
	* {
	    box-sizing: border-box;
	}
	body {
	    font-family: 'Open Sans',sans-serif;
	    color: #666;
	    font-size: 13px;
	    line-height: 22px;
	}
	.custom-full-section {
	    padding: 0px !important;
	}
	.row {
	    margin-left: -15px;
	    margin-right: -15px;
	}
	@media (min-width:992px){
		.col-md-1, .col-md-2, .col-md-3, .col-md-4, 
		.col-md-5, .col-md-6, .col-md-7, .col-md-8, 
		.col-md-9, .col-md-10, .col-md-11, .col-md-12{
			float:left;
		}
		.col-md-12{width:100%} 
		.col-md-11{width:91.66666667%}
		.col-md-10{width:83.33333333%}
		.col-md-9{width:75%}
		.col-md-8{width:66.66666667%}
		.col-md-7{width:58.33333333%}
		.col-md-6{width:50%}
		.col-md-5{width:41.66666667%}
		.col-md-4{width:33.33333333%}
		.col-md-3{width:25%}
		.col-md-2{width:16.66666667%}
		.col-md-1{width:8.33333333%}
		.col-md-pull-12{right:100%}
		.col-md-pull-11{right:91.66666667%}
		.col-md-pull-10{right:83.33333333%}
		.col-md-pull-9{right:75%}
		.col-md-pull-8{right:66.66666667%}
		.col-md-pull-7{right:58.33333333%}
		.col-md-pull-6{right:50%}
		.col-md-pull-5{right:41.66666667%}
		.col-md-pull-4{right:33.33333333%}
		.col-md-pull-3{right:25%}
		.col-md-pull-2{right:16.66666667%}
		.col-md-pull-1{right:8.33333333%}
		.col-md-pull-0{right:0}
		.col-md-push-12{left:100%}
		.col-md-push-11{left:91.66666667%}
		.col-md-push-10{left:83.33333333%}
		.col-md-push-9{left:75%}
		.col-md-push-8{left:66.66666667%}
		.col-md-push-7{left:58.33333333%}
		.col-md-push-6{left:50%}
		.col-md-push-5{left:41.66666667%}
		.col-md-push-4{left:33.33333333%}
		.col-md-push-3{left:25%}
		.col-md-push-2{left:16.66666667%}
		.col-md-push-1{left:8.33333333%}
		.col-md-push-0{left:0}
		.col-md-offset-12{margin-left:100%}
		.col-md-offset-11{margin-left:91.66666667%}
		.col-md-offset-10{margin-left:83.33333333%}
		.col-md-offset-9{margin-left:75%}
		.col-md-offset-8{margin-left:66.66666667%}
		.col-md-offset-7{margin-left:58.33333333%}
		.col-md-offset-6{margin-left:50%}
		.col-md-offset-5{margin-left:41.66666667%}
		.col-md-offset-4{margin-left:33.33333333%}
		.col-md-offset-3{margin-left:25%}
		.col-md-offset-2{margin-left:16.66666667%}
		.col-md-offset-1{margin-left:8.33333333%}
		.col-md-offset-0{margin-left:0}
	}
	.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, 
	.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, 
	.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, 
	.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, 
	.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, 
	.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, 
	.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, 
	.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, 
	.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, 
	.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, 
	.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, 
	.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
		position:relative;
		min-height:1px;
		padding-left:15px;
		padding-right:15px;
	}
	#custom-col-12 {
	    padding-left: 0px !important;
	    padding-right: 0px !important;
	}
	.img-responsive, .thumbnail > img, .thumbnail a > img, 
	.carousel-inner > .item > img, .carousel-inner > .item > a > img{
		min-width:100% !important; 
	}
	.img-responsive,.thumbnail>img,.thumbnail a>img,
	.carousel-inner>.item>img,.carousel-inner>.item>a>img{
		display:block;
		max-width:100%;
		height:auto;
	}
	img {
	    vertical-align: middle;
	}
	img {
	    border: 0;
	}
	#home-top .flex-caption {
	    text-shadow: none;
	    background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.75);
	}
	@media handheld, only screen and (min-width: 1024px) {
		.flex-caption {
			min-width:100%;
			padding:20px 43px;
	        height:100%;
		}	 
	}
	@media (min-width:991px){
		.setImag{
			margin-top: 140px;
		}
	}
	@media handheld, only screen and (min-width: 640px) {
		.flex-caption {
			position:absolute;    
		}
	}
	.flex-caption {
	    width: 100%;
	    padding: 2%;
	    margin: 0;
	    left: 0;
	    bottom: 0;
	    color: #fff;
	    font-size: 14px;
	    line-height: 18px;
	}
	.custom-feature {
	    border: none;
	}
	@media (min-width:1200px){
		.container{
			width:1170px;
		}
	}
	.container{
		margin-right:auto;
		margin-left:auto;
		padding-left:15px;
		padding-right:15px;
	}
	.row{
		margin-left:-15px;
		margin-right:-15px;
	}
	.section-title h3 {
	    margin: 15px 0px 15px !important;
	}
	.flex-caption h3 {
	    font: 20px Raleway,sans-serif;
	    font-weight: 600;
	}
	.flex-caption h3 {
	    color: #666 !important;
	}
	@media (max-width:600px){
		.flex-caption{
			position: static !important;
			background: none repeat scroll 0% 0% rgb(245, 245, 245) !important;
			text-shadow: none !important;
		}
		.title h3 {
    	color: #666 !important;
		}
		.wrapper-jumper {
    	display: none;
		}
	}
	h1,h2,h3,h4,h5,h6 {
	    position: relative;
	}
	article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{
		display:block;
	}
	@media (max-width: 600px)
	{
	    .flex-caption {
		    color: #666 !important;
		}
	}
	@media (max-width:1282px)
	{
	    p {
		    margin:0px 0px 13px;
		}
	}
	.custom-feature p {
	    font-family: inherit;
	    color: #666;
	    width: 100%;
	    line-height: 22px;
	    font-size: 14px;
	}
	.feature-section {
	    float: left;
	    width: 100%;
	    padding: 147px 0px;
	    text-align: center;
	}
	page-home .custom-feature {
	    border: none;
	}
	.jumper, .jumper:hover, .jumper:active, .jumper:focus {
	    text-decoration: none;
	    color: rgb(239, 53, 58);
	    font-family: inherit;
	    font-size: 16px;
	    font-weight: 400;
	}
	.bg-light-grey {
    background: #f5f5f5;
	}
	.full-section {
    float: left;
    width: 100%;
    border-bottom: 1px solid rgba(141,141,141,.2);
    overflow: hidden;
	}
	@media (max-width:992px){
		.section-title, .section-title.center, .section-title.right {
	    text-align: center;
		}
		.style-box {
    	margin-bottom: 40px;
		}
	}
	.section-title {
    margin-bottom: 50px;
	}
	.style-box {
    padding: 0;
    position: relative;
	}
	.style-box header {
    width: 100%;
    margin-bottom: 20px;
	}
	.style-box .fa {
    width: 100px;
    height: 100px;
    border: 1px solid rgb(240,53,58);
    background-color: rgb(240,53,58);
    color: #fff;
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    border-radius: 100%;
    transition: .5s;
	}
	.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    transform: translate(0, 0);
	}
	.style-box .title {
    margin-bottom: 20px;
    width: 100%;
    padding-bottom: 20px;
    position: relative;
	}
	.style-box .title h3 {
    margin: 0;
	}
	.style-box .box-desc {
    padding: 0 10px;
	}
	@media (max-width: 767px)
	{
    .icon-text.vert-align-mid h2, p {
    	text-align: center !important;
		}
		.hidden-xs {
    	display: none !important;
		}
	}
	.wrapper-jumper {
    margin-top: 20px;
	}
	a {
    transition: .0s;
    outline: 0 !important;
	}
	a {
    background: transparent;
	}
	#slider-thumbs {
    padding-right: 0px;
    padding-left: 0px;
	}
	#slider-thumbs {
    margin-top: -82px;
	}
	.list-inline {
    padding-left: 0;
    list-style: none;
    margin-left: -5px;
	}
	ol, ul {
    margin: 0;
    padding: 0;
	}
}
