<ion-header>
	<div id="page">
    <div id="top-bar" class="header-shadow">
    <div class="container">
      	<div class="row">
	        <div class="col-md-8 col-sm-8 hidden-xs">
	            <div class="top-info" style="margin-top:12px;">
		            <ul>
		              <li><i class="fa fa-map-marker"></i> Unit No. 111, Damji Shamji Industrial Estate, Vikroli (West), Mumbai - 400083</li>
		              <li><i class="fa fa-phone"></i> +91-9833421160 / +91-22-25788068</li>
		            </ul>
	          	</div>
	        </div>

<!-- topbar RIGHT Section begin -->
       <div class="col-md-4 col-sm-4 col-xs-12 right-align">
        
        <div class="row">
        <div class="col-md-8 col-sm-8 col-xs-12">
			<!--<script>
  (function() {
    var cx = '004371832447695788251:o4k8to11qyk';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>latest google search-->




<!--<script>
  (function() {
    var cx = '007775042269111586372:vl6_0ajezoc';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>-->

</div>

        <div class="col-md-4 col-sm-4 col-xs-12">
<div class="left" style="float:left; padding-left:8px;"><!--<a href="http://admatinnovations.com/clients.php" style="color:rgb(239, 53, 58);">Our Clients</a>--></div>
<!-- social icon begin -->          
           <div class="flat-social-icons right">

               <ul style="margin-top:8px;" class="custom-fa-icon">
                <li>
                    <a href="https://www.facebook.com/AdMatinnovations?fref=ts" class="facebook" target="_blank" data-rel="tooltip" data-placement="bottom" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
                </li>

                <li>
                    <a href="https://www.youtube.com/channel/UCgdhJ_4JZszf_rCdZoHq2Yw/feed" target="_blank" class="youtube" data-rel="tooltip" data-placement="bottom" data-original-title="YouTube"><i class="fa fa-youtube"></i></a>
                </li>

                <li>
                    <a href="https://in.linkedin.com/in/admatinnovations" class="linkedin" target="_blank" data-rel="tooltip" data-placement="bottom" data-original-title="Linkedin"><i class="fa fa-linkedin"></i></a>
                </li>

               
            </ul>

          </div>

			</div>
            </div>
        </div>
<!-- topbar RIGHT Section FINISH -->        
        
      </div><!-- row FINISH -->
    </div><!-- container FINISH -->
  </div>
  	<div id="mainheader">
	  	<div class="header default">
	  		<div class="yamm navbar navbar-default ">
	  			<div class="container">
	  				<div class="navbar-header">
			            <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			            <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span>
			            <span class="icon-bar"></span><span class="icon-bar"></span></button> -->
			              <a class="navbar-brand"><img alt="Admat Innovation" src="assets/imgs/logo.png" class="img-responsive" (click)="imgTab()">  </a>
			          
		          	</div>
		          	<div class="collapse navbar-collapse navHead pull-right" id="mainMenu">
		          		<ul class="nav navbar-nav">
		          			<li class="cemenu "><a (click)="homeMenu()">Home</a></li>
		          			<li class="cemenu"><a (click)="productMenu()">Products & Offerings</a></li>
	             			<li class="cemenu"><a (click)="workMenu()">Our Work</a></li>
	             			<li class="cemenu "><a href="https://blog.admatinnovations.com/">Blog</a></li>
	             			<li class="cemenu"><a href="contact-us.php">Contact Us</a></li>
		          		</ul>
		          	</div>
	  			</div>
	  		</div>
	  	</div>
  	</div>
</div>
</ion-header>