header {
  #top-bar {
    line-height: 25px;
    background: #fff;
    color: #737373;
    font-size: 11px;
    border-bottom: 4px solid rgb(240,53,58);
    z-index: 100;
  }
  .header-shadow {
    box-shadow: 0 3px 5px rgba(0, 0, 0, .1);
  }
  * {
    box-sizing: border-box;
  }
  body {
    font-family: 'Open Sans',sans-serif;
    color: #666;
    font-size: 13px;
    line-height: 22px;
  }
  .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .row {
    margin-left: -15px;
    margin-right: -15px;
  }
  @media (max-width: 767px) {
    .hidden-xs {
      display: none !important;
    }
    .top-info {
      text-align: center;
    }
    .header {
      padding: 0;
      z-index: 101;
      transition: all 0.2s ease 0s;
      background: url(../assets/imgs/nav-bg.jpg) repeat scroll 50% 50% rgba(11,28,51,1);
      position: relative;
      box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
      height: 112px;
    }
  }
  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .top-info ul {
    position: relative;
    margin: 0;
    list-style: none;
  }
  ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .top-info ul li {
    margin: 0;
    margin-right: 15px;
    display: inline-block;
  }
  .top-info li > .fa {
    font-size: 12px;
    width: 24px;
    height: 24px;
    text-align: center;
    vertical-align: middle;
    line-height: 24px;
    border: 1px solid rgba(115,115,115,.7);
    border-radius: 100%;
    margin-right: 2px;
  }
  .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    transform: translate(0, 0);
  }
  .col-xs-12 {
    width: 100%;
  }
  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, 
  .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
  }
  .flat-social-icons.right {
    float: right;
  }
  .flat-social-icons li {
    float: left;
    font-size: 14px;
    list-style: none;
    border-right: 1px solid rgba(0,0,0,0.05);
    margin: 0;
    position: relative;
    padding: 0;
  }
  a {
    transition: .0s;
    text-decoration: none;
    color: #333;
    outline: 0 !important;
  }
  a {
    background: transparent;
  }
  .custom-fa-icon li a .fa {
    line-height: 33px !important;
    height: 33px;
  }
  .flat-social-icons li a .fa {
    display: block;
    width: 30px;
    text-align: center;
    color: #9a9a9a;
    transition: .5s;
  }
  #mainheader {
    width: 100%;
    display: block;
    position: relative;
    background: rgb(11,28,51);
  }
  @media (max-width: 991px) {
    .header {
      padding: 0;
      width: 100%;
      z-index: 1001;
      transition: all 0.2s ease 0s;
      background: url(../assets/imgs/nav-bg.jpg) repeat scroll 50% 50% rgba(11,28,51,1);
      background-size: cover;
      position: relative;
      box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
      height: 112px;
    }
    .navbar ul.dropdown-menu li:hover > a {
      background: #000;
    }    
    .navbar li.dropdown:hover > ul {
      display: block;
    }
    .container > .navbar-header, .container > .navbar-collapse {
      margin-right: 0;
      margin-left: 0;
    }
    .navbar-header {
      float: none;
    } 
    .navbar-default .navbar-toggle {
      margin-top: 14px;
      background: rgb(240,53,58);
      color: #fff;
      margin-right: 0;
      border-color: transparent;
      margin-bottom: 14px;
    }
    .navbar-toggle {
      display: block;
    }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #fff;
    }
    .navbar-brand {
      padding-top: 18px !important;
      padding: 15px 0;
    }
    .navbar-brand img {
      max-height: 26px;
      transition: width 1s ease-in-out, left 1.5s ease-in-out;
    }
    .navbar-collapse.collapse {
      display: none !important;
    }
    .navbar-default .navbar-collapse {
      border: transparent;
      box-shadow: none;
    }
    .container > .navbar-header, .container > .navbar-collapse {
      margin-right: 0;
      margin-left: 0;
    }
    .navbar .nav, .navbar .dropup, .navbar .dropdown, .navbar .collapse {
      position: relative;
    }
    .navbar-collapse {
      max-height: none;
      background: transparent;
    }
    .navbar-collapse, .navbar-collapse.in {
      width: 100%;
      overflow-y: hidden;
      overflow-x: hidden;
      padding-left: 0;
      padding-right: 0;
      margin: 10px auto;
    }
    .navbar-collapse {
      float: none;
      position: relative;
    }
    .navbar .nav {
      float: none;
      margin: 0;
      display: block;
      width: 100%;
      border: 1px solid rgba(0,0,0,0.1);
    }
    .yamm .nav .yamm-content {
      padding: 0px;
      background: transparent;
    }
    .yamm .nav .yamm-content ul.yamm-submenu {
      border: none;
    }
    .yamm .nav .yamm-subtitle h2 {
      color: #fc3250;
      display: block;
      font-size: 16px;
      font-weight: 600;
      margin: 15px;
      text-transform: uppercase;
    }
    .yamm .nav .yamm-content .yamm-inner {
      padding: 0 15px;
    }
    .yamm .nav .yamm-content ul.yamm-submenu >li > a {
      background: transparent;
      padding-left: 45px;
      border: none;
      border-top: 1px solid rgba(0,0,0,.1) !important;
      text-decoration: none;
      color: #fff;
    }
    .navbar .nav, .navbar .dropup, .navbar .dropdown, .navbar .collapse {
      position: relative;
    }
    .navbar-nav {
      float: none !important;
      margin: 7.5px -15px;
    }
    .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .navbar .nav > li > a span{
      display: none
    }
    .navbar-nav > li {
      float: none;
    }
    .navbar-collapse.in {
      display: block !important;
    }
    .navbar .nav li a, 
    .navbar ul.dropdown-menu li a, 
    .navbar ul.dropdown-menu li.dropdown-submenu >ul.dropdown-menu li a {
      padding: 5px;
      line-height: 30px;
      background: transparent;
      border: 0;
      font-weight: 400;
      float: none;
      display: block;
      border-bottom: none;
      width: 100%;
      color: #fff;
      border-top: 1px solid rgba(0,0,0,0.1);
    }
    .nav li.dropdown >a:after {
      content: "\f105";
      font-family: FontAwesome;
      font-weight: normal;
      font-style: normal;
      display: block;
      float: right;
      text-decoration: inherit;
      font-size: 14px;
    }
    .navbar .nav li a, .nav li.dropdown a {
      padding-left: 15px;
    }
    .nav ul.dropdown-menu li {
      border-bottom: none;
      width: 100%;
      float: none;
    }
    .nav ul.dropdown-menu,    
    .nav ul.dropdown-menu.right > li.dropdown-submenu >.dropdown-menu {
      position: static;
      clear: both;
      float: none;
      background: transparent;
      border-top: 1px solid rgba(0,0,0,.1);
      width: auto;
    }
    .nav ul.dropdown-menu.right >li.dropdown-submenu > a:after {
      content: "\f105";
      font-family: 'FontAwesome';
      font-weight: normal;
      font-style: normal;
      display: block;
      left: auto;
      text-decoration: inherit;
      font-size: 14px;
      position: absolute;
      right: 6px;
      top: 8px;
    }
    .nav ul.dropdown-menu > li.dropdown-submenu >a {
      color: rgb(240,53,58);
    }
    .nav .dropdown-submenu ul.dropdown-menu li a {
      font-weight: 300;
      color: #333;
    }
    .yamm .nav .yamm-content ul.yamm-submenu {
      margin: 0;
      padding: 0px;
      list-style: none;
    }
    .navbar.with-icon  .nav > li > a {
      padding: 5px;
    }
    .navbar.with-icon .nav > li > a >.fa {
      display: none;
    }
    .nav li.dropdown ul.dropdown-menu li:first-child a, .nav li:first-child a {
      border-top: none;
    }
    .navbar .nav li a, .navbar ul.dropdown-menu li a, 
    .navbar ul.dropdown-menu li.dropdown-submenu > ul.dropdown-menu li a {
      padding: 5px;
      line-height: 30px;
      border: 0;
      font-weight: 400;
      float: none;
      display: block;
      border-bottom: none;
      width: 100%;
      color: #fff;
    }
    .nav ul.dropdown-menu >li> a {
      background: transparent;
      padding-left: 45px;
      border-top: 1px solid rgba(0,0,0,.1);
    }
    .navbar ul.dropdown-menu li.dropdown-submenu >ul.dropdown-menu li a {
      padding-left: 65px;
    }
    .nav ul.dropdown-menu >li> a:hover {
      background: transparent;
    }
    .nav ul.dropdown-menu > li > a, .nav a, .nav li.dropdown a, .nav li.active a {
      background: transparent !important;
    }
    .header.fixedHeader {
      position: relative !important;
    }
  }
  .navbar-default {
    border-radius: 0;
    border: none;
    background: transparent;
    box-shadow: none;
  }
  .navbar {
    margin-bottom: 0;
    z-index: 8000;
    min-height: inherit;
  }
  .navbar {
    position: relative;
  }
  .yamm .container {
    position: relative;
  }
  .navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
  button, html input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
  }
  button, select {
    text-transform: none;
  }
  button {
    overflow: visible;
  }
  button, input, optgroup, select, textarea {
    font: inherit;
    margin: 0;
  }
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
  .navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
  }
  .navbar-default .navbar-brand {
    color: #777;
  }
  .navbar-brand {
    float: left;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
  }
  .img-responsive, .thumbnail > img, .thumbnail a > img, 
  .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    min-width: 100% !important;
  }
  .img-responsive, .thumbnail > img, .thumbnail a > img, 
  .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  img {
    vertical-align: middle;
  }
  img {
      border: 0;
  }
  .pull-right {
    float: right !important;
  }
  .nav {
    padding-left: 0;
    list-style: none;
  }
  .nav > li {
    position: relative;
    display: block;
  }
  .navbar .nav > li > a {
    font-style: normal;
    padding: 24px 8px;
    position: relative;
    font-size: 13px;
    text-transform: uppercase;
    transition: all 0.3s ease-out;
  }
  .navbar .nav > li > a {
    background: none;
    font-style: normal;
    line-height: 34px;
    color: #fff;
    padding: 24px 8px;
    position: relative;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    border-right: 1px solid rgba(0,0,0,.3);
    transition: all 0.3s ease-out;
  }
  @media (min-width:1200px){
    .container{
        width:1170px;
    }
    .header {
      padding: 0;
      z-index: 101;
      transition: all 0.2s ease 0s;
      background: url(../assets/imgs/nav-bg.jpg) repeat scroll 50% 50% rgba(11,28,51,1);
      position: relative;
      box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
      height: 112px;
    }
  }
  @media (min-width:992px){
    .col-md-8 {
      width: 66.66666667%;
    }
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, 
    .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
      float: left;
    }
    .col-md-4 {
      width: 33.33333333%;
      float: left;
    }
    .header {
      padding: 0;
      z-index: 101;
      transition: all 0.2s ease 0s;
      background: url(../assets/imgs/nav-bg.jpg) repeat scroll 50% 50% rgba(11,28,51,1);
      position: relative;
      box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
      height: 112px;
    }
  }
  .default {
    width: 100%;
  }
  .header {
    padding: 0;
    z-index: 101;
    transition: all 0.2s ease 0s;
    background: url(../assets/imgs/nav-bg.jpg) repeat scroll 50% 50% rgba(11,28,51,1);
    position: relative;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    height: 112px;
  }
  @media (min-width:768px){
    .container > .navbar-header, .container-fluid > .navbar-header, 
    .container > .navbar-collapse, .container-fluid > .navbar-collapse {
      margin-right: 0;
      margin-left: 0;
    }
    .navbar>.container .navbar-brand,.navbar>.container-fluid .navbar-brand{
      margin-left:-15px
    }
    .navbar-collapse.in{
      overflow-y:visible;
    }
    .navbar-header {
      float: left;
    }
    .navbar-toggle {
      display: none;
    }
    .navbar-fixed-top .navbar-collapse,
    .navbar-static-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse{
      padding-left:0;
      padding-right:0;
    }
    .header {
      padding: 0;
      z-index: 101;
      transition: all 0.2s ease 0s;
      background: url(../assets/imgs/nav-bg.jpg) repeat scroll 50% 50% rgba(11,28,51,1);
      position: relative;
      box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
      height: 112px;
    }
    .navbar-collapse.collapse {
      display: block !important;
      height: auto !important;
      padding-bottom: 0;
      overflow: visible !important;
    }
    .navbar-collapse {
      width: auto;
      border-top: 0;
      box-shadow: none;
    }
    .navbar-nav {
      float: left;
      margin: 0;
    }
    .navbar-nav > li {
      float: left;
    }
    .navbar-nav>li>a{
      padding-top:15px;
      padding-bottom:15px;
    }
    .navbar-nav.navbar-right:last-child{
      margin-right:-15px
    }
  }
  .navbar-default .navbar-toggle {
    border-color: #ddd;
  }
  .navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
  }
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
  }
  .navbar-brand {
    padding-top: 21px;
  }
  .yamm .nav, .yamm .collapse, .yamm .dropup, .yamm .dropdown {
    position: static;
  }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
  }
  .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }
  .navbar-collapse {
    max-height: 340px;
  }
  .nav {
    padding-left: 0;
    list-style: none;
  }
  .nav > li:first-child > a {
    border-left: 0px solid #eaeaea;
  }
  .nav > li > a {
    display: block;
  }
  .header.fixedHeader {
    position: fixed !important;
    top: -15px;
    z-index: 9999;
    top: 0px;
    left: 0;
    right: 0;
    width: 100%;
  }
  .header.fixedHeader .navbar .nav > li > a {
      padding-bottom: 8px;
      padding-top: 8px;
  }
  .header.fixedHeader .navbar-brand {
      padding-top: 15px !important;
  }
  .header.fixedHeader .navbar-brand img {
      max-height: 26px;
      transition: width 1s ease-in-out, left 1.5s ease-in-out;
  }
  .gsc-search-button{ 
    height: 33px !important;
  }
  .admat-text-logo{
    display: inline-block;
    padding: 15px 0px 0px 0px;
  }
  @-moz-document url-prefix() { 
    .admat-text-logo{
      padding: 15px 0px 0px 0px;
    }
  }
  .admat-text{
    font-weight: 600;
    padding: 24px 10px 0px 5px;
    font-size: 46px;
    margin-left: -10px;
    color: #FFF !important;
    font-family:aharoni;
    display: inline-block;
    float:left !important;
  }
  .navbar .nav > li > a span{
    display: block;
    font-size: 10px;
    text-transform: uppercase;
    line-height: 13px;
    margin: 0 !important;
    color: rgba(255,255,255,.5);
  }
  .navbar-default .navbar-nav > .active > a, 
  .navbar-default .navbar-nav > .active > a:hover, 
  .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: rgb(240,53,58);
    padding-top: 10px;
    padding-bottom: 56px;
    height: 82px;
  }
  .navbar-default .navbar-nav > li > a:hover, 
  .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: rgb(240,53,58);
  }
  .nav > li > a >.fa {
    font-size: 13px;
    vertical-align: middle;
    padding-right: 6px;
    color: rgba(255,255,255,.4);
    display: block;
    text-align: center;
    margin: 0!important;
  }
  .navbar.with-icon  .nav > li > a {
    padding: 24px 15px;
  }
  .nav > li:last-child > a {
    border-right: none;
  }
  .nav > li:first-child > a {
    border-left: 0px solid #eaeaea;
  }
  .nav li:hover > a {
    background-color: rgb(240,53,58);
    color: #fff;
  }
  .navbar ul.dropdown-menu {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
    font-size: 13px;
    top: auto;
    background: rgba(11,28,51,1);
    width: 200px;
    border-top: 4px solid rgba(240,53,58,1);
    box-shadow: 0px 0px 5px rgba(0,0,0,.5);
  }
  .navbar ul.dropdown-menu{
    display: block !important;
  }
  .dropdown > .dropdown-menu,
  .dropdown-menu > .dropdown-submenu ul.dropdown-menu {
    animation-name: slidenavAnimation;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
  }
  @keyframes slidenavAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    };
  }
  @-webkit-keyframes slidenavAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    };
  }
  .navbar ul.dropdown-menu > li {
    margin: 0;
  }
  .navbar ul.dropdown-menu > li > a {
    color: #ECECED;
    font-weight: 400;
    text-transform: none;
    position: relative;
    padding: 10px 15px;
    font-size: 13px;
    transition: all 0.2s;
    border-bottom: 1px solid rgba(244, 244, 244, .1);
  }
  .navbar ul.dropdown-menu li:hover > a {
    background: #000;
  }
  .navbar ul.dropdown-menu > li > a:hover {
    background: #000;
  }
  .navbar ul.dropdown-menu > li:last-child {
    border-bottom: 0;
  }
  .navbar li.dropdown:hover > ul {
    display: block;
  }
  .navbar .dropdown-submenu:hover .dropdown-menu {
    display: block;
  }
  .navbar .dropdown-submenu {
    position: relative;
  }
  .navbar .dropdown-submenu > a:after {
    content: "\f105";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: block;
    position: absolute;
    right: 2px;
    top: 8px;
    text-decoration: inherit;
    font-size: 14px;
    color: rgb(240,53,58);
  }
  .navbar .dropdown-submenu >.dropdown-menu {
    top: -6px;
    left: 98%;
    z-index: 15789;
  }
  .navbar ul.dropdown-menu.right > li.dropdown-submenu > a:after {
    content: "\f104";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: block;
    position: absolute;
    left: 4px;
    right: auto;
    top: 8px;
    text-decoration: inherit;
    font-size: 14px;
    color: rgb(240,53,58);
  }
  .navbar ul.dropdown-menu.right > li.dropdown-submenu >.dropdown-menu {
    top: -6px;
    position: absolute;
    left: -99%;
  }
  .yamm .container {
    position: relative;
  }
  .yamm .dropdown-menu {
    left: auto;
  }
  .yamm-fw .dropdown-menu > li {
    display: block;
  }
  .yamm .nav.navbar-right .dropdown-menu {
    left: auto;
    right: 0;
  }
  .yamm .nav .yamm-content {
    padding: 30px 30px;
    background: rgba(11,28,51,1);
  }
  .yamm .nav .yamm-content ul.yamm-submenu {
    margin: 0;
    padding: 0px;
    list-style: none;
    border-bottom: 0px solid rgba(244, 244, 244, .1);
  }
  .yamm .nav .yamm-content ul.yamm-submenu >li > a {
    color: #fff;
    font-weight: 400;
    text-transform: none;
    text-decoration: none;
    position: relative;
    font-size: 13px;
    padding: 8px 8px;
    transition: all 0.2s;
    border-bottom: 1px solid rgba(244, 244, 244, .03);
    display: block;
  }
  .yamm .nav .yamm-subtitle h2 {
    color: rgb(240,53,58);
    display: block;
    font-size: 13px;
    font-weight: 900;
    padding-bottom: 5px;
    text-transform: uppercase;
  }
  .yamm .nav .yamm-content .yamm-inner {
    padding: 5px;
  }
  .nav-desc-wrapper{
   
  }
  .nav-desc-wrapper img{
    float: left;
    margin: 0 10px 10px 0
  }
  .yamm .dropdown.yamm-fw .dropdown-menu {
    width: 100%;
    left: 0;
    right: 0;
  } 
  .logo-region {
    padding: 20px 0;
    border-bottom: 1px solid rgba(0,0,0,.3);
    position: relative;
  }
  .logo-region:after {
    width: 100%;
    content: "";
    border-bottom: 1px solid rgba(255,255,255,.03);
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .logo-region a img {
    margin: 0 auto;
    display: inline-block;
  }
  /*tease text for center align menu*/
  .tease-text h4 {
    margin: 0;
    margin-top: 10px;
    color: #fff;
    font-size: 12px;
    text-align: left;
    opacity: .5;
    line-height: 14px;
    display: inline-block;
    float: left;
  }
  .tease-text h4:after {
    content: "";
    border-bottom: 1px solid rgba(0,0,0,.6);
    height: 0px;
    right: -40px;
    position: absolute;
    top: 10px;
    width: 60px;
    padding: 0px 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    opacity: 1;
  }
  .tease-text.right {
    float: right;
  }
  .tease-text.right h4:after {
    left: -40px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  @media (min-width: 991px) {
    .hd-center .navbar-nav {
      display: inline-block;
      float: none;
      margin: 0 !important;
      padding-bottom: 0 !important;
    }
    .header {
      padding: 0;
      z-index: 101;
      transition: all 0.2s ease 0s;
      background: url(../assets/imgs/nav-bg.jpg) repeat scroll 50% 50% rgba(11,28,51,1);
      position: relative;
      box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
      height: 82px;
    }
  }
  .hd-center .navbar-collapse.collapse {
    text-align: center;
      display: block !important;
      height: auto !important;
      padding-bottom: 0 !important;
      overflow: visible !important;
      margin-bottom: 0!important;
      line-height: 10px;
      border-bottom: none;
    }
    .hd-center .dropdown-menu > li {
      text-align: left !important;
      line-height: 21px;
    }
    /*navigation with icons*/
    .hd-center .nav > li > a {
      padding: 8px 15px;
    }
    .hd-left .navbar-nav {
      display: inline-block;
      float: left;
      margin: 0 !important;
      padding-bottom: 0 !important;
    }
    .hd-left .navbar-collapse.collapse {
      text-align: center;
      display: block !important;
      height: auto !important;
      padding-bottom: 0 !important;
      overflow: visible !important;
      margin-bottom: 0!important;
      line-height: 10px;
      border-bottom: none;
    }
    .hd-left .dropdown-menu > li {
      text-align: left !important;
      line-height: 21px;
    }
    /*navigation with icons*/
    .hd-left .nav > li > a {
      padding: 8px 15px;
    }

    @media (min-width: 768px) and (max-width: 979px) {
      .navbar.basic .navbar-nav > li {
        margin-left: 10px;
      }
      .header {
        padding: 0;
        z-index: 101;
        transition: all 0.2s ease 0s;
        background: url(../assets/imgs/nav-bg.jpg) repeat scroll 50% 50% rgba(11,28,51,1);
        position: relative;
        box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
        height: 112px;
      }
    }
    .img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
      min-width: 100% !important;
    }
}    