page-products {
	* {
	    box-sizing: border-box;
	}
	body {
    font-family: 'Open Sans',sans-serif;
    color: #666;
    font-size: 13px;
    line-height: 22px;
	}
	.page-header {
    border: 0;
	}
	@media (min-width:1200px){
		.container{
			width:1170px;
		}
	}
	.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
	}
	.row {
    margin-left: -15px;
    margin-right: -15px;
	}
	@media (min-width:992px){
		.col-md-6 {
	    width: 50%;
		}
		.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, 
		.col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
	    float: left;
		}
		.col-md-12 {
    	width: 100%;
    	float: left;
    	position: relative;
			min-height: 1px;
		}
		.col-md-4 {
	    width: 33.33333333%;
	    float: left;
	    position: relative;
			min-height: 1px;
			padding-left: 15px;
			padding-right: 15px;
		}

	}
	.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, 
	.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, 
	.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, 
	.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, 
	.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, 
	.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, 
	.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, 
	.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, 
	.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, 
	.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, 
	.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, 
	.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
	}
	h2 {
    line-height: 32px;
    position: relative;
	}
	h1, h2, h3, h4, h5, h6 {
    font-family: Raleway,sans-serif;
    margin: 0;
    color: #222;
	}
	.breadcrumb {
    list-style: none;
    border-radius: 4px;
	}
	a {
    transition: .0s;
    text-decoration: none;
    outline: 0 !important;
	}
	a {
    background: transparent;
	}
	.breadcrumb > .active {
    color: #999;
	}
	.custom-full-section {
    padding: 0px !important;
	}
	.img-responsive, .thumbnail > img, .thumbnail a > img, 
	.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    min-width: 100% !important;
	}
	.img-responsive, .thumbnail > img, .thumbnail a > img, 
	.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: auto;
	}
	img {
    vertical-align: middle;
	}
	img {
    border: 0;
	}
	#home-top .flex-caption {
    padding: 10px 43px;
    text-shadow: none;
    background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.75);
	}
	@media handheld, only screen and (min-width: 1024px) {
		.flex-caption {
			min-width:100%;
			height:100%;
		}	  
	}
	@media handheld, only screen and (min-width: 640px) {
		.flex-caption {
			position:absolute;           
		}
	}
	.flex-caption {
    width: 100%;
    margin: 0;
    left: 0;
    bottom: 0;
    color: #fff;
    font-size: 14px;
    line-height: 18px;
	}
	.custom-feature {
    border: none;
	}
	#home-top p {
    line-height: 22px;
	}
	p {
    margin: 0px 0px 10px !important;
	}
	p {
    color: #666;
	}
	h2.process-h2-style {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 5px;
	}
	h2 {
    font-weight: 600;
    font-family: Raleway,sans-serif;
		position: relative;
		margin: 0;
	}	
	#home-top p {
    font-size: 13px;
    line-height: 22px;
	}
	.flex-caption p {
    text-align: justify;
	}
	p {
    margin: 0px 0px 10px !important;
	}
	p {
    color: #666;	
	}
	.col-md-12{
		position: relative;
		min-height: 1px;
	}
	.maindiv{
		margin-top: 8.5vw;
	}
	/*.setContent {
		margin-top: 5vw;
	}*/
	/*.wrapper-jumper {
    margin-top: 10px;
	}*/
	/*.jumper, .jumper:hover, .jumper:active, .jumper:focus {
    text-decoration: none;
    color: rgb(239, 53, 58);
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
	}*/
	/*#slider-thumbs {
    padding-right: 0px;
    padding-left: 0px;
	}
	#slider-thumbs {
    margin-top: -82px;
	}*/
	/*.list-inline {
    padding-left: 0;
    list-style: none;
    margin-left: -5px;
	}
	ol, ul {
    margin: 0;
    padding: 0;
	}*/



	/*theme css*/
	.padd0 {
    padding: 0px !important;
	}
	.chart-box-height {
    height: 175px !important;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
	}
	.icon-text.vert-align-mid {
    width: 100%;
	}
	.feature-section {
    text-align: center;
	}
	.padd-right0 {
    padding-right: 0px !important;
	}

}
